/* public/css/styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px; /* Increase padding for a larger form */
    width: 450px; /* Increase width for a larger form */
    transition: box-shadow 0.3s ease;
}

.form-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-container h1 {
    color: #333;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-container input,
.form-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.form-container input:focus,
.form-container textarea:focus {
    border-color: #4caf50;
}

.form-container input.error,
.form-container textarea.error {
    border-color: #ff5252;
}

#links-container {
    margin-bottom: 16px;
}

#links-container input {
    /* Keep the styling consistent with other input fields */
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#links-container input:focus {
    border-color: #4caf50;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.buttons-container button {
    width: 48%; /* Adjust the width based on your preference */
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons-container button:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 600px) {
    .form-container {
        width: 90%;
        margin: 0 auto;
        max-width: 400px; /* Set a maximum width for small screens */
    }

    #links-container input {
        width: calc(100% - 20px);
        margin-right: 0;
    }

    .buttons-container {
        flex-direction: column;
        align-items: center;
    }

    .buttons-container button {
        width: 100%;
        margin-top: 8px;
    }
}
